

<section id="form">
    <div class="container">
        <div class="wrapper">
    <fieldset>
        
<form action="/login" method="POST"  >
    
    <img src="images/logo.jpg" width="200" class="mb-4 logo">
       
        <h1 class="h3 mb-3 font-weight-normal">Food-Junkies</h1>
        
    

    <div class="form-group">
    <input type="email" name="username" id="email" placeholder="Email" class="form-control input-lg" required autofocus><br>
    </div>
    <div class="form-group">
        
        <input type="password" name="password" placeholder="Password" class="form-control input-lg" required autofocus><br>
        </div>
    <section>
    <p style="text-align: center;">
    <button type="submit" class="btn-lg btn-primary cr-ac"  >Log in</button>
    </p>
    </section><br><br>
    <h5 class="alreadyusertext">Don't have an account? <a href="/signup" class="btn rounded-3">Sign up</a></h5>
</fieldset>
</div>
</form>
</div>
</section>
<div class="push"></div>

</body>
</html>